*, *::after, *::before{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;

}

.cell {
    width: 10px;
    height: 10px;
    background-color: black;
    border: 1px solid white;
}

.dying {
  background-color: #173AEB;
}

.buffer{
  background-color: white;
}

.alive {
  background-color: orangered ;
}

.birth {
  background-color: coral;
}
