*, *::after, *::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;

}

.cell {
    width: 10px;
    height: 10px;
    background-color: grey;
    border: 1px solid lightgrey;
}

.dying {
  background-color: #173AEB;
}

.buffer{
  background-color: grey;
  border: 1px solid grey;
}

.alive {
  background-color: yellow ;
}

.birth {
  background-color: coral;
}
