*, *::after, *::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;

}

div div {
    width: 8px;
    height: 8px;
    background-color: grey;
    border: 1px solid lightgrey;
}
